*, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c08081;
}
.container {}

.container-navbar {
    background-color: #ffdcdd;
    padding: 10px;
    border: 1px solid #000;
    margin: 10px 0;
    width: 100%;
    height: 10vh;
}

.ul-navbar {
    background-color: #ffdcdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}

.li-navbar:hover{
    background-color: #fff9f9;
    transition: .5s ease-in-out;
    transition-delay: .1s;
    border-radius: 8px;
}

.a-nav {
    color: #c08081;
    text-decoration: none;
}
.container-content {
    background-color: #c08081;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.a-content {
    background-color: #ffffff
    color:#000
    text-decoration: none;
    font-size: 20px;
    width: 720px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(122,44,44,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(122,44,44,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(122,44,44,0.75);
}

.img-content {
    width: 50%;
    height: 50%;
}

.container-footer{
    height: 10%;
    color: #ffdcdd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 40px;
    color: #ffdcdd;
}